<!-- <app-navbar></app-navbar> -->
<div class="container">
    
    <!-- Table for data -->
    <div class="container-fluid">
      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">User Email</th>
          <th scope="col">User ID</th>
          <th scope="col">For Deletion</th>
  
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users | async;let i = index">
          <th scope="row">{{i}}</th>
          <td>{{item.user_name}}</td>
          <td>{{item.user_email}}</td>
          <td>{{item.Id}}</td>
          <td ><a class="btn btn-danger" (click)="delete($event,item.Id)">Delete User</a></td>
  
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  
  