

<!-- Cards for CRUD OPERATIONS -->
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <!-- cities -->
        <div class="card text-white bg-primary mb-3" >
            <div class="card-header">For Both Application</div>
            <div class="card-body">
              <h5 class="card-title">City</h5>
              <p class="card-text">Here you can view, create, update, delete list of cities available in TravelBuddy App</p>
              <a routerLink="/city" class="link_card">Modify Cities</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
      <!-- places -->
        <div class="card text-white bg-secondary mb-3" >
            <div class="card-header">For Both Application</div>
            <div class="card-body">
              <h5 class="card-title">Places</h5>
              <p class="card-text">Here you can view, create, update, delete list of places for a particular city available in TravelBuddy App</p>
              <a routerLink="/city" class="link_card">Modify Cities</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-success mb-3" >
            <div class="card-header">For Both Application</div>
            <div class="card-body">
              <h5 class="card-title">Guide</h5>
              <p class="card-text">Here you can view ,create, update, delete list of guides hired for a particular city available in TravelBuddy App</p>
              <a routerLink="/guides" class="link_card">Modify Guides</a>
            </div>
          </div>  
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-4">
      <div class="card text-white bg-danger mb-3" >
        <div class="card-header">For User application</div>
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">Here you can view ,create, update, delete list of all users  available in TravelBuddy App</p>
          <a routerLink="#" class="link_card">Modify Users</a>
        </div>
      </div></div>
    <div class="col-sm-4">
        <div class="card text-white bg-warning mb-3" >
            <div class="card-header">For User Application</div>
            <div class="card-body">
              <h5 class="card-title">Trips Taken (History)</h5>
              <p class="card-text">Here you can view ,create, update, delete list of all history for particular users available in TravelBuddy App</p>
              <a routerLink="#" class="link_card">Modify History</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-info mb-3" >
            <div class="card-header">For Guide Application</div>
            <div class="card-body">
              <h5 class="card-title">Trips Taken by Guide </h5>
              <p class="card-text">Here you can view ,create, update, delete list of all completed trips for particular guide available in TravelBuddy App</p>
              <a routerLink="#" class="link_card">Modify Trips by Guide</a>
            </div>
          </div>
    </div>
  </div>
</div>